body{
    background: #EBE3E3;
    color: #574248;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

.column-right,
.column-left{
    width: 50%
}

.right{
    float: right;
    box-sizing: border-box;
}

.left{
    float: left;
}

header nav a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    color: #574248;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav a:hover{
    color: black;
}
.centered_layout{
    width: 1200px;
    margin: auto;
}
.content{
    overflow: hidden;
    padding-top: 20px;
}

 h1{
    font-size: 40px;
    color: #574248;
    text-align: left; 
}

 h2{
    font-size: 22px;
    color: #574248;
    text-align: left;
}

span{
    font-size: 60px;
}

.Picture img{
    height: 45%;
    width: 45%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px black;
    margin-top: 100px;
}

.butuno{
    background:#ff2190;
    margin-right: 15px;
}

.butdos{
    background: #67C5C8;
    margin-right: 15px;
}

.butres{
    background: #D3CB2B;
    margin-right: -15px;
}

.button{
    display:inline-block;
    padding: 40px 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #1C2530;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 15px;

}

p{ 
    font-size: 14px;
    color: #817781;
    text-align: left;
}





